html,body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-left: 15%;
    padding-left: 0;
}

li{
    display: inline-block;
}

.fonts {
    font-family: Noto Sans, sans-serif;
}

.logo {
    position: relative;
    width: 200px;
    left: 15%;
    top: 45px;
}

header {
    background-color: #B1BECA;
}

.menuContent {
    font-size: 24px;
    margin-bottom: 5%;
}

.slogan {
    font-size: 20px;
}

.name {
    font-size: 60px;
    margin-bottom: 0;
}

.inormationContent {
    font-size: 18px;
    margin-top: 15%;
}

.information {
    margin:0 10% 0 10%;
    width:80%;
}

.sliderInformation {
    margin:0 10% 0 10%;
    width:80%;
}

.infoTitle {
    font-size: 30px;
}

.tableTitle {
    font-size: 23px;
    margin-bottom: 0;
}

.fotorama__wrap {
    margin: 0 auto;
}

.fotorama_stage {
    height: 150px !important;
}

.bags {
    display: grid;
	grid-template-columns: 1fr 1fr;
}

a {
    color: black;
    text-decoration: none;
}

.feedbackWhenAndWho {
    font-size: 18px;
}

.feedbackProblem {
    font-size: 22px;
}

.call {
    position: fixed;
    left: 90%;
    top: 80%;
    margin-right: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #B1BECA;
}

.footerStyle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0 5% 5% 5%;
    width: 90%;
}

.headerMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0 5% 0 5%;
    width: 90%;
    text-align: center;
}

b {
    color:indigo;
}

td {
    text-align: center;
    padding: 5% 5% 0 5%;
}
