html,body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-left: 15%;
    padding-left: 0;
}

li{
    display: inline-block;
}

.fonts {
    font-family: Noto Sans, sans-serif;
}

.logo {
    position: relative;
    width: 200px;
    left: 15%;
    top: 45px;
}

header {
    background-color: #B1BECA;
}

.menuContent {
    margin-bottom: 5%;
}

.slogan {
    font-size: 20px;
}

.name {
    font-size: 60px;
    margin-bottom: 0;
}

.inormationContent {
    font-size: 18px;
    margin-top: 15%;
}

.information {
    margin:0 10% 0 10%;
    width:80%;
}

.sliderInformation {
    margin:0 10% 0 10%;
    width:80%;
}

.infoTitle {
    font-size: 30px;
}

.tableTitle {
    font-size: 23px;
    margin-bottom: 0;
}

.fotorama__wrap {
    margin: 0 auto;
}

.fotorama_stage {
    height: 150px !important;
}

.bags {
    display: grid;
	grid-template-columns: 1fr 1fr;
}

a {
    color: black;
    text-decoration: none;
}

.feedbackWhenAndWho {
    font-size: 18px;
}

.feedbackProblem {
    font-size: 22px;
}

.call {
    position: fixed;
    display: block;
    margin-left: 90vw;
    margin-top: 35vh;
}

footer {
    background-color: #B1BECA;
}

.footerStyle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headerContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0 5% 5% 5%;
    width: 90%;
}

.headerMenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0 5% 0 5%;
    width: 90%;
    text-align: center;
    font-size: 24px;
}

b {
    color:indigo;
}

td {
    text-align: center;
    padding: 5% 5% 0 5%;
}

@media (max-width: 800px) {
    .logo {
        max-width: 150px;
    }
}
@media (max-width: 727px) {
    .menuInfo {
        margin:auto;
    }
    .name {
        margin-top: 20px;
    }
    .logo {
        top: 20px;
    }
}
@media (max-width: 875px) {
    .call{
        margin-left: 85vw;
    }
}
@media (max-width: 551px) {
    .call{
        margin-left: 82vw;
    }
}
@media (max-width: 444px) {
    .call{
        margin-left: 75vw;
    }
}
@media (max-width: 595px) {
    .logo {
        max-width: 100px;
        top:40px;
    }
}
@media (max-width: 503px) {
    .logo {
        max-width: 70px;
        top:40px;
    }
    .brands {
        max-width: 100px;
    }
}
@media (max-width: 442px) {
    .information{
        margin: 0;
        width: 100%;
    }
    .headerMenu {
        margin: 2px;
        font-size: 20px;
    }
    .name {
        font-size: 50px;
    }
    .logo{
        left: 2px;
    }
    .inormationContent {
        font-size: 18px;
    }
    .headerContent{
        margin: 0;
        grid-column-gap: 5px;
    }
}
@media (max-width: 497px) {
    .tablePhoto {
        width: 100px;
    }
}
